@import url('https://fonts.cdnfonts.com/css/chava');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Hoves";
}
section{
    padding: 0 calc(10.6vw - 16px);
    margin-bottom: calc(11vw + 18.4px);
}
h2{
    font-size: calc(2.6vw + 24px);
    text-transform: uppercase;
    font-weight: 500;
}
.logo{
    padding-top: 38px;
    margin-bottom: calc(6.3vw + 4.3px );
}
.courseInfo{
    display: flex;
    gap: 30px 161px;
    flex-wrap: wrap;
    margin-bottom: calc(3.1vw + 36.3px);
}
.title{
    font-size: calc(0.55vw + 14px);
}
.value{
    font-size: calc(0.55vw + 14px);
    font-weight: 700;
}
h1{
    font-size: 80px;
    font-family: "Chava";
    margin-bottom: 40px;
}
.section1_text{
    width: calc(66.6vw + 77.6px);
    font-size: calc(1vw + 14.2px);  
    margin-bottom: 20px;
}
.cta{
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}
.cta button{
    padding: 20px 0;
    width: 328px;
    cursor: pointer;
    font-size: 18px;
    border: 2px solid #6E3ABA;
    font-weight: 500;
    border-radius: 12px;
}
.purple{
    background-color: #6E3ABA;
    color: white;
}
.white{
    background-color: white;
    color: #6E3ABA;
}